<section data-id="{{createdplayer.id}}">
  <h6>Name:</h6>
  <h3>
    {{createdplayer.name}}
  </h3>
  <h6>Rating:</h6>
  <p>
    {{#if createdplayer.rating}}
      {{createdplayer.rating}}
    {{else}}
      No rating provided.
    {{/if}}
  </p>
  <button id="add-createdplayer" data-id="{{id}}">
    Add To My Team!</button>
</section>
